body {
    /* seta a família de fontes utilizada no projeto */
    font-family: 'Oswald', 'Lato';

    /* seta margem automática da página, para que ela fique responsiva */
    margin: auto;

    /* define que o body ocupe toda a largura disponível da página */
    width: 100%;
}

h1 {
    font-size: 32px;
    color: #E77CA9;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
    font-family: 'Lato';
}

a {
    text-decoration: none;
    color: #C4135D;
    width: fit-content;
}

a:hover {
    color: #FFE600;
}

.container {
    /* seta altura e largura do cabeçalho */
    width: 100%;
    height: 203px;

    /* seta a cor do cabeçalho */
    background-color: #E77CA9;

    /* define o cabeçalho como um container de flexbox */
    display: flex;

    /* elementos img e ul distribuídos igualmente dentro do cabeçalho */
    justify-content: space-evenly;

    /* aumenta em 20px o tamanho do espaço entre os elementos do menu e entre o menu e o logotipo*/
    gap: 20px;

    /* alinha os elementos img e ul no centro do cabeçalho (em sentido vertical) */
    align-items: center;
}

.logo {
    /* seta as dimensões do logotipo */
    width: 303px;
    height: 50%;
}


.menu li {
    /* prepara position para que o submenu possa ter sua posição ajustada em relação ao menu pai */
    position: relative;

    /* dispõe os elementos do menu lado a lado */
    display: inline;
}

#submenu {
    /* ajusta o position para absolute para que o submenu possa ser mudado de lugar */
    position: absolute;

    /* define um tamanho para o submenu para que "categorias" aumente sua área clicável */
    width: 1px;

    /* esconde o submenu inicialmente */
    display: none;



}

/* define estilo das opções do submenu */
#submenu a {
    color: #C4135D;
    font-size: 22px;
}

/* ao passar o mouse nas opções do submenu, a cor será amarelo */
#submenu a:hover {
    color: #FFE600;
}

/* define estilo das opções do menu */
.menu a {
    color: #FFE600;
    font-size: 24px;
}

/* ao passar o mouse nas opções do menu, a cor será branco */
.menu a:hover {
    color: white;
}

main h1 {
    text-align: center;
}

.section {
    /* centraliza a section no meio da página */
    margin: 0 auto;

    /* determina que section tenha apenas a largura total das divs dentro dele */
    width: fit-content;

    /* determina que section será flexbox */
    display: flex;

    /* determina a direção de flex em linha e que será wrap (para cada linha que os itens não couberem todos, terá quebra de linha) */
    flex-flow: row wrap;

    /* determina o espaçamento entre o card e o box */
    gap: 30px;
}

.section p,
.section h2 {
    /* zera a margem dos parágrafos e dos títulos contidos em section */
    margin: 0;
}

.card h2,
.card p {
    width: 290px;
}

.card img {
    width: 290px;
    height: 171px;
}

.box {
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
}

.box img {
    width: 200px;
    height: 125px;
}

.posts {
    display: flex;

    gap: 15px;
}

.text {
    max-height: 104px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-self: center;
}