<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>diversogeek</title>

    <!-- linka a fonte Oswald e a fonte Lato como parte da família de fontes do projeto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@700&display=swap"
        rel="stylesheet">

    <!-- linka o documento css ao projeto -->
    <link rel="stylesheet" href="web/style/sobre.css" type="text/css">
    <link rel="stylesheet" href="web/style/style.css" type="text/css">

    <!-- linka o jquery ao projeto -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- linka o script.js ao projeto -->
    <script src="web/scripts/script.js"></script>
</head>

<body>

    <!-- Header da página com logo e menu -->
    <header class="container">

        <!-- Logo da página -->
        <div class="item"><a href="view/index.html"><img src="web/assets/logo.png" alt="logo diversogeek"
                    class="logo"></a>
        </div>

        <!-- Menu principal da página, dentro do header. -->
        <nav class="menu item">
            <ul class="container ul">
                <li><a id="home" href="view/index.html">home</a></li>
                <li><a id="contato" href="view/contato.html">contato</a></li>
                <li><a id="sobre">sobre</a></li>
                <li><a href="#">cinema</a></li>
                <li><a href="#">animes</a></li>
                <li><a href="#">séries</a></li>
            </ul>
        </nav>
    </header>

    <!-- Conteúdo principal da página -->
    <main>
        <h1>Sobre a DiversoGeek</h1>

        <h3>A diversogeek é um projeto que visa trazer conteúdos de cultura pop tratados sob um viés de
            diversidade social.</h3>

        <div class="img-texto">

            <div>
                <img src="web/assets/Brazuca - Pride.png" alt="">
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo nulla. Nullam
                    non
                    velit non tellus volutpat ultrices ac blandit ex. Vestibulum tellus lacus, auctor non sem et,
                    bibendum aliquet elit. Cras quam urna, ultrices non convallis et, pretium vitae odio. Interdum
                    et
                    malesuada fames ac ante ipsum primis in faucibus. Nunc viverra vel odio vel volutpat.
                    Suspendisse eu
                    mi elit. Cras sit amet scelerisque nulla. Aliquam aliquam elit eu lacus eleifend efficitur.

                    Cras accumsan porttitor ipsum eget semper. Fusce ac nibh tincidunt enim luctus semper. Proin non
                    massa in diam condimentum interdum eu vitae magna. Vestibulum non efficitur lectus. Aenean
                    vulputate
                    neque scelerisque vehicula ultricies. Nullam eget augue sit amet odio elementum sollicitudin
                    vitae
                    vel lorem. Aliquam dui quam, molestie ac massa et, ullamcorper pretium augue. Aenean at massa
                    blandit, pretium lacus at, pharetra justo. Maecenas a tortor dictum, semper ligula nec, pulvinar
                    nunc.
                </p>
            </div>


        </div>


        <div class="podcast-container">
            <p>
                <strong> Escute esse podcast do Christian Gonzatti, doutorando em Ciências da Comunicação (UNISINOS)
                    e
                    criador da
                    plataforma Diversidade Nerd, para entender um pouco mais sobre as motivações por trás do nosso
                    trabalho.
                </strong>
            </p>
            <div class="audio">
                <audio controls>
                    <source src="web/assets/diversidadenaculturapop.mp3" type="audio/mp3">
                </audio>
            </div>

        </div>

        <div class="img-texto">
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo nulla. Nullam non
                    velit non tellus volutpat ultrices ac blandit ex. Vestibulum tellus lacus, auctor non sem et,
                    bibendum aliquet elit. Cras quam urna, ultrices non convallis et, pretium vitae odio. Interdum et
                    malesuada fames ac ante ipsum primis in faucibus. Nunc viverra vel odio vel volutpat. Suspendisse eu
                    mi elit. Cras sit amet scelerisque nulla. Aliquam aliquam elit eu lacus eleifend efficitur.

                    Cras accumsan porttitor ipsum eget semper. Fusce ac nibh tincidunt enim luctus semper. Proin non
                    massa in diam condimentum interdum eu vitae magna. Vestibulum non efficitur lectus. Aenean vulputate
                    neque scelerisque vehicula ultricies. Nullam eget augue sit amet odio elementum sollicitudin vitae
                    vel lorem. Aliquam dui quam, molestie ac massa et, ullamcorper pretium augue. Aenean at massa
                    blandit, pretium lacus at, pharetra justo. Maecenas a tortor dictum, semper ligula nec, pulvinar
                    nunc.
                </p>
            </div>

            <div>
                <img class="icons" src="web/assets/Brazuca - Sitting on Wheelchair.png" alt="">
            </div>

        </div>

        <p>
            Vestibulum pretium ligula a sem congue, vitae eleifend nunc lacinia. Suspendisse ultricies elementum
            enim eu ultricies. Sed semper libero sit amet magna fermentum, ut commodo elit viverra. Pellentesque
            lorem velit, tempor a fermentum sit amet, sodales vel diam. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia curae; Sed sit amet massa ornare, hendrerit nisl id, rutrum
            quam. Aenean tincidunt condimentum velit at imperdiet. Sed sed aliquet massa, ut finibus eros.
            Pellentesque pretium, lacus rutrum tristique lacinia, nunc leo pharetra purus, eget condimentum
            neque lorem ut dui.

            Aliquam finibus posuere metus convallis aliquet. In ultricies mi vitae lacus faucibus eleifend.
            Aenean non sapien in quam varius convallis. Suspendisse ac pulvinar sapien, ut condimentum nisi.
            Quisque efficitur risus in lacinia dictum. Morbi placerat accumsan dolor et lacinia. Vivamus eget
            turpis magna. Nunc malesuada ultrices metus eget euismod. Nullam eget magna ut lorem aliquam
            sollicitudin. Vestibulum rutrum sollicitudin dignissim.
        </p>

        <div class="video-container">

            <iframe class="video" controls width="500" height="200"
                src="https://www.youtube.com/embed/8XK3WxOlXUk?controls=0" allowfullscreen></iframe>

            <div>
                <strong><br>
                    <p>Para saber mais, recomendamos esse vídeo da drag queen Lorelay Fox em seu Tedtalk "É hora de
                        apoiar as diferenças", de
                        2016. Lorelay Fox é drag queen há mais de 10 anos e se destaca no YouTube, em seu “Canal Para
                        Tudo”. Danilo Dabague, o criador da Lorelay Fox, é publicitário e professor de design e
                        photoshop além de empreender o canal no Youtube.
                    </p>
                </strong>
            </div>
        </div>

        <!-- Calendário em tabela da página -->
        <h1 class="calendario-title">Nossos próximos eventos</h1>
        <div class="calendario">
            <table>
                <caption>Maio 2022</caption>
                <thead class="dias-semana">
                    <th>Dom</th>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Qua</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sab</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td class="evento">7</td>
                    </tr>
                    <tr>
                        <td class="evento">8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td class="evento">21</td>
                    </tr>
                    <tr>
                        <td class="evento">22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td class="outro-mes">1</td>
                        <td class="outro-mes">2</td>
                        <td class="outro-mes">3</td>
                        <td class="outro-mes">4</td>
                    </tr>
                </tbody>

            </table>
            <div class="eventos">
                <h4>7 e 8 - AnimeXtreme, Porto Alegre. Das 11:00 até 18:00</h4><br>
                <h4>21 e 22 - Anime Buzz e Festival do Japão, Porto Alegre. Das 10:00 até 19:00</h4>

            </div>
        </div>

    </main>

    <!-- Botão que ao clicar, volta ao topo da página. -->
    <button type="button" id="voltaTopo">Voltar ao topo</button>


    <!-- Rodapé da página -->
    <footer class="container">

        <!-- Logo da página -->
        <div class="item"><img src="web/assets/logo.png" alt="logo diversogeek" class="logo"></div>

        <!-- Ícones das redes sociais -->
        <div class="redes-sociais"><img src=" /web/assets/instagram.png" alt="">
            <div><img src="/web/assets/facebook.png" alt=""></div>
            <div><img src="/web/assets/youtube.png" alt=""></div>
            <div><img src="/web/assets/twitter.png" alt=""></div>
        </div>
    </footer>

</body>

</html>